<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" type="image/png" href="/img/200.png">
</head>

<body>
  <main class="main">
    {{>header}}
    <h1 style="color: chartreuse;">Weather Help</h1>
    <div class="Para_container ">
      <p class="para1">{{help}}</p>
      <p class="para2">
        Node-Dark-Sky-App is based on NodeJs with Html5 ,CSS And Handlebars.
        In Address Section just type the name of place and find the details
        of Weather of that place.
      </p>
    </div>
    <br>
    <br>
    <br><br>
    {{>footer}}
  </main>
</body>

</html>