<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<h1 style="color: blanchedalmond;">{{title}}</h1>
<div class="nav">
 <a href="/" class="link">Weather</a>
  <a href="/help" class="link">Help</a>
</div class="links">